################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeltaxApplication/v15/.suo
/.vs
/DeltaxApplication/bin
/DeltaxApplication/obj/Debug
